/*
!/.gitignore
!/LICENSE
!/README.md
!/.readthedocs.yaml
!/requirements.txt
!/src/
!/cfg/

/src/**/*
!/src/JLPy/
!/src/JLPy/**/*/
!/src/jlpy/**/*.py

/cfg/**/*
!/cfg/conf.py
!/cfg/index.rst

!/cfg/_templates/
!/cfg/_templates/**/*/
!/cfg/_templates/**/*.rst

!/cfg/_static/
!/cfg/_static/**/*/
!/cfg/_static/**/*.rst

!/cfg/userguide/
!/cfg/userguide/**/*/
!/cfg/userguide/**/*.rst

!/cfg/changelog/
!/cfg/changelog/**/*/
!/cfg/changelog/**/*.rst

!/cfg/reference/
!/cfg/reference/**/*/
!/cfg/reference/**/*.rst

/cfg/reference/_*/